{% extends 'base.html.twig' %}

{% block title %}Ready and Cook {% endblock %}

{% block main %}
      
      <section class="presentation">
            <div class="container">
                  
                  <div class="row p-15">
                        
                        <div class="col-lg-5 col-md-12 ">
                              <div>
                                    <img src="{{ asset('build/images/logo_no_bg.png') }}" class="index-bg-img" alt="">
                              </div>
                        
                        </div>
                        
                        
                        <div class="col-lg-7 col-sm-12">
                              <div class="txt">
                                    <h1>Que vais-je bien pouvoir faire à manger ?</h1>
                                    <p>Vous ne savez pas quoi faire à manger avec ce que vous avez dans votre
                                          réfrigérateur ? <br>
                                          Pas de soucis, nous sommes là pour vous ! <br>
                                          Indiquez les produits disponibles chez vous et nous vous élaborerons une
                                          recette ! <br>
                                          Envie d'une recette toute faite ? Nous disposons aussi des meilleures recettes
                                          du moment pour satisfaire vos envies !
                                    </p>
                                    
                                    <a href="{{ path('ingredients') }}" class="btn-test">TESTEZ MAINTENANT</a>
                                    
                              </div>
                        </div>
                  
                  </div>
            
            </div>
      </section>
      
      <div class="wave-beige">
            <svg viewBox="0 0 1903 88" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <path fill="rgba(255, 232, 219, 1)" d="M 0 15 C 227 15 227 60 454 60 L 454 60 L 454 0 L 0 0 Z"
                        stroke-width="0">
                  </path>
                  <path fill="rgba(255, 232, 219, 1)" d="M 453 60 C 746 60 746 12 1039 12 L 1039 12 L 1039 0 L 453 0 Z"
                        stroke-width="0"></path>
                  <path fill="rgba(255, 232, 219, 1)"
                        d="M 1038 12 C 1325.5 12 1325.5 50 1613 50 L 1613 50 L 1613 0 L 1038 0 Z"
                        stroke-width="0"></path>
                  <path fill="rgba(255, 232, 219, 1)"
                        d="M 1612 50 C 1757.5 50 1757.5 12 1903 12 L 1903 12 L 1903 0 L 1612 0 Z"
                        stroke-width="0"></path>
            </svg>
      
      </div>
      
      <section class="explications">
            <div class="container">
                  <div class="row">
                        <div class="col-lg-7 col-sm-12">
                              <div class="txt">
                                    <h1>Comment tout ceci fonctionne ?</h1>
                                    <p>Deux solutions s'offre à vous :<br>
                                          Soit nous vous élaborerons une recette en fonction de ce que vous nous
                                          proposez comme ingrédients. <br>
                                          Soit vous pouvez choisir une recette déjà disponible dans notre
                                          catalogue en fonction de vos envies. <br>
                                          Évidemment nous prendrons en compte vos goûts, mais surtout vos régimes
                                          alimentaires ainsi que vos
                                          allergies ! <br>
                                          Enregistrez-vous pour une sauvegarde de vos préférences et vos recettes
                                          favorites ! <br>
                                          A vous de jouer !!
                                    </p>
                                    
                                    <a href="{{ path('ingredients') }}" class="btn-test2">TESTEZ MAINTENANT</a>
                                    
                              </div>
                        </div>
                        <div class="col-lg-5 col-sm-12">
                              <img src="{{ asset('build/images/cook.jpg') }}" class="index-bg-img" alt="">
                        </div>
                  </div>
            </div>
      </section>
      
      <div class="wave-green">
            <svg viewBox="0 0 1903 88" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <path fill="rgba(81, 142, 142, 1)" d="M 0 15 C 170 15 255 75 425 75 L 425 75 L 425 0 L 0 0 Z"
                        stroke-width="0">
                  </path>
                  <path fill="rgba(81, 142, 142, 1)" d="M 424 75 C 622.4 75 721.6 31 920 31 L 920 31 L 920 0 L 424 0 Z"
                        stroke-width="0"></path>
                  <path fill="rgba(81, 142, 142, 1)"
                        d="M 919 31 C 1156.6 31 1275.4 72 1513 72 L 1513 72 L 1513 0 L 919 0 Z"
                        stroke-width="0"></path>
                  <path fill="rgba(81, 142, 142, 1)"
                        d="M 1512 72 C 1668.4 72 1746.6 12 1903 12 L 1903 12 L 1903 0 L 1512 0 Z"
                        stroke-width="0"></path>
            </svg>
      </div>
      
      <section class="new-recipes">
            
            <div class="container">
                  
                  <div class="row">
                        <div class="col-12">
                              <h2>Nos recettes du moment !</h2>
                        </div>
                  </div>
                  
                  <div class="row">
                        {% for recipe in recipes %}

                              <div class="col-12 col-lg-6 col-xl-4 m-auto">
                                    <a class="recipe-id" href="{{ path('recette', { 'id' : recipe.id }) }}">
                                    <div class="found-recipe-card"
                                         style="background-image: url('{{ asset(recipe.pathImage) }}')">
                                          <div class="found-recipe-infos">
                                                <p><i class="fa-solid fa-clock"></i> {{ recipe.duration }}</p>
                                                <p><i class="fa-solid fa-utensils"></i> {{ recipe.difficulty }}</p>
                                                <p><i class="fa-solid fa-euro-sign"></i> {{ recipe.price }}</p>
                                          </div>
                                          <div class="found-recipe-text">
                                                <p>{{ recipe.name }}</p>
                                          </div>
                                    </div>
                                    </a>
                              </div>

                        {% endfor %}
                  </div>
            </div>

      </section>
      
      <div class="wave-gray">
            <svg viewBox="0 0 1903 88" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <path fill="rgb(239,239,239)" d="M 0 15 C 227 15 227 60 454 60 L 454 60 L 454 0 L 0 0 Z"
                        stroke-width="0">
                  </path>
                  <path fill="rgb(239,239,239)" d="M 453 60 C 746 60 746 12 1039 12 L 1039 12 L 1039 0 L 453 0 Z"
                        stroke-width="0">
                  </path>
                  <path fill="rgb(239,239,239)"
                        d="M 1038 12 C 1325.5 12 1325.5 50 1613 50 L 1613 50 L 1613 0 L 1038 0 Z"
                        stroke-width="0"></path>
                  <path fill="rgb(239,239,239)"
                        d="M 1612 50 C 1757.5 50 1757.5 12 1903 12 L 1903 12 L 1903 0 L 1612 0 Z"
                        stroke-width="0"></path>
            </svg>
      </div>

{% endblock %}
