.recipe-details {
        background-color: $beige;
        padding: 50px;
        width: 100%;

        .text-recipe-show-title {
                color: $vert;
                margin-bottom: 30px;
                text-align: center;
                font-weight: bold;
                text-decoration: underline;
        }

        .container {
                margin: auto;
                padding: 40px;
                border-radius: 20px;
                background-color: $beige;
                box-shadow: 10px 10px 10px 15px rgb(161, 161, 161);
                min-width: 40%;

                .found-recipe-card {
                        border: 2px solid black;
                        border-radius: 30px;
                        text-align: center;
                        height: 400px;
                        cursor: pointer;
                        transition: transform 0.2s;
                        margin: 20px auto;
                        background-size: cover;
                        background-position: center;
                        box-shadow: 3px 12px 19px 1px rgba(0, 0, 0, 0.75);

                        &:hover {
                                transform: scale(1.05);
                        }

                }

                .recipe-show-infos {
                        background-color: white;
                        display: flex;
                        justify-content: space-evenly;
                        border-radius: 10px;
                        margin-top: 20px;
                        height: 60px;
                        border: 2px solid black;

                        p {
                                margin: auto;
                        }
                }

                .recipe-show-preparation {
                        border-radius: 10px;
                        margin-top: 20px;

                        .ingredients {
                                display: flex;
                                justify-content: space-between;
                                flex-wrap: wrap;
                                flex-direction: row;
                                margin: 5px;

                                .recipe-show-preparation-ingredients {
                                        border-radius: 10px;
                                        background-color: white;
                                        border: 2px solid $green;
                                        margin: 4px auto;
                                        min-width: 120px;

                                        p {
                                                display: flex;
                                                justify-content: center;
                                                padding: 5px;
                                        }
                                }
                        }

                        .recipe-show-preparation-steps {
                                border-radius: 10px;
                                width: 100%;
                                padding: 7px;
                                margin-top: 10px;
                                background-color: #c8efcb94;

                                p {
                                        margin: auto;
                                        padding: 5px;
                                }
                        }

                        p {
                                margin: auto;
                        }

                        .desc-prep {
                                margin: auto;
                                padding: 10px;
                        }

                        .desc-ingr {
                                margin: auto;
                                padding-top: 5px;
                        }
                }


                //h2 {
                //
                //}


        }
}