{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block main %}
      
      <div class="connexion-form">
            
            <div class="container">
                  
                  <form method="post">
                        {% if error %}
                              <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                        
                        <div class="form">
                              
                              <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
                              <label for="inputAccountName">Nom de compte</label>
                              <input type="text" value="{{ last_username }}" name="accountName" id="inputAccountName"
                                     class="form-control" autocomplete="username" required autofocus>
                              <label for="inputPassword">Mot de passe</label>
                              <input type="password" name="password" id="inputPassword" class="form-control"
                                     autocomplete="current-password" required>
                              
                              <input type="hidden" name="_csrf_token"
                                     value="{{ csrf_token('authenticate') }}"
                              >

                              
                              {#        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality. #}
                              {#        See https://symfony.com/doc/current/security/remember_me.html #}
                              
                              <div class="checkbox mb-3">
                                    <label>
                                          <input type="checkbox" name="_remember_me"> Se souvenir de moi
                                    </label>
                              </div>
                              
                              
                              <button class="btn btn-lg btn-primary" type="submit">
                                    Se connecter
                              </button>

                              <p>Pas encore de compte ? <a href="{{ path('app_register') }}">Inscrivez-vous !</a></p>
                        
                        </div>
                  
                  </form>
            
            </div>
      
      
      </div>
      
      <div class="wave-gray">
            <svg viewBox="0 0 1903 88" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <path fill="rgb(255,232,219)" d="M 0 15 C 227 15 227 60 454 60 L 454 60 L 454 0 L 0 0 Z"
                        stroke-width="0">
                  </path>
                  <path fill="rgb(255,232,219)" d="M 453 60 C 746 60 746 12 1039 12 L 1039 12 L 1039 0 L 453 0 Z"
                        stroke-width="0">
                  </path>
                  <path fill="rgb(255,232,219)"
                        d="M 1038 12 C 1325.5 12 1325.5 50 1613 50 L 1613 50 L 1613 0 L 1038 0 Z"
                        stroke-width="0"></path>
                  <path fill="rgb(255,232,219)"
                        d="M 1612 50 C 1757.5 50 1757.5 12 1903 12 L 1903 12 L 1903 0 L 1612 0 Z"
                        stroke-width="0"></path>
            </svg>
      </div>


{% endblock %}
