.found-recipe {
        background-color: $beige;
        padding: 50px;
        width: 100%;
.recipe-id{
        text-decoration: none;
        color: inherit;
}
        .text-recipe-show-title{
                color: $vert;
                margin-bottom: 30px;
                text-align: center;
                font-weight: bold;
                text-decoration: underline;
                a{
                        text-decoration: none;
                        color: inherit;
                }
        }

        .wrapper-second-title{
                margin-top: 60px;
        }
        .container {
                margin: auto;
                padding: 40px;
                border-radius: 20px;
                background-color: $beige;
                box-shadow: 10px 10px 10px 15px rgb(161, 161, 161);
                min-width: 40%;


                .found-recipe-card {
                        border: 2px solid black;
                        border-radius: 30px;
                        text-align: center;
                        height: 400px;
                        position: relative;
                        cursor: pointer;
                        transition: transform 0.2s;
                        margin: 20px auto;
                        background-size: cover;
                        background-position: center;
                        box-shadow: 3px 12px 19px 1px rgba(0, 0, 0, 0.75);

                        &:hover {
                                transform: scale(1.05);
                        }

                        .found-recipe-infos {
                                border-bottom: 2px solid black;
                                display: flex;
                                flex-direction: row;
                                background-color: white;
                                justify-content: space-between;
                                border-radius: 0 0 80px 80px;
                                position: absolute;
                                top: 0;
                                left: 10%;
                                right: 10%;
                                min-width: 80%;
                                min-height: 40px;

                                p {
                                        margin: auto;
                                        font-weight: bold;
                                        font-size: 12px;
                                }
                        }

                        .found-recipe-text {
                                border-top: 2px solid black;
                                display: flex;
                                background-color: white;
                                border-radius: 80px 80px 0 0;
                                position: absolute;
                                bottom: 0;
                                left: 10%;
                                right: 10%;
                                min-width: 80%;
                                min-height: 40px;
                                justify-content: space-between;

                                p {
                                        margin: auto;
                                        font-weight: bold;
                                        font-size: 15px;
                                        -webkit-text-size-adjust: 100%;
                                }
                        }
                }
        }
}