.recipe-list {
        background-color: $beige;

        .title-container {
                margin-top: 15px;
                color: $green;

                a {
                        color: $orange;
                }
        }

        .filter-container {
                padding: 20px;
        }

        #search_allergies, #search_diets, #search_duration, #search_difficulty, #search_price {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                background-color: #dedede;
                border: 1px solid $green;;
                border-radius: 10px;

                label {
                        color: $green;
                }

                input {
                        color: $green;
                }
        }

        .card-list-container {

                .recipe-card-list {
                        display: flex;
                        flex-direction: column;
                        border: 1px solid black;
                        border-radius: 10px;
                        background-color: white;
                        height: 40vh;
                        min-width: 15vw;
                        margin-bottom: 20px;

                        .img-card {
                                width: 100%;
                                height: 50%;
                                border-bottom: 1px solid black;
                                border-radius: 10px;

                                img {
                                        border-radius: 10px;
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                }
                        }

                        .recipe-infos {
                                justify-content: space-between;
                                margin: auto;
                                text-align: center;

                                p {
                                        margin: 0 2px;
                                }

                                h5 {
                                        font-weight: bold;
                                        margin-bottom: 4px;
                                }
                        }

                        .card-link {
                                margin: auto;
                        }
                }
        }
}