{% block footer %}
      
      <section class="footer">
            <div class="socials">
                  <a aria-current="page" href="#"><i class="logo fab fa-facebook"></i></a>
                  <a aria-current="page" href="#"><i class="logo fab fa-twitter-square"></i></a>
                  <a aria-current="page" href="#"><i class="logo fab fa-instagram"></i></a>
            </div>
            <div class="copyright">
                  <p>Copyright © 2022 Ready & Cook - All rights reserved - <a href="/mentions_legales">Mentions Légales</a></p>
            
            </div>
      </section>
      
{% endblock %}