{% block nav %}

        {% if  "admin" in app.request.get('_route') %}

                <nav class="navbar navbar-expand-md navbar-dark bg-dark">

                        <div class="container-fluid">

                                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

                                        <div class="navbar-nav m-auto">

                                                <img src="{{ asset('build/images/r-a-c.svg') }}" class="index-bg-img"
                                                     alt="">

                                                <a class="nav-link {% if app.request.get("_route")  == "home" %} active {% endif %} link-light"
                                                   aria-current="page" href="{{ path('home') }}">ACCUEIL</a>

                                                <a class="nav-link  {% if app.request.get("_route")  == "admin_recipe_index" %} active {% endif %}  link-light"
                                                   aria-current="page" href=" {{ path('admin_recipe_index') }}">RECETTES</a>

                                                <a class="nav-link  {% if app.request.get("_route")  == "admin_ingredient_index" %} active {% endif %}  link-light"
                                                   aria-current="page" href=" {{ path('admin_ingredient_index') }}">INGREDIENTS</a>

                                                <a class="nav-link  {% if app.request.get("_route")  == "admin_category_index" %} active {% endif %}  link-light"
                                                   aria-current="page" href=" {{ path('admin_category_index') }}">CATEGORIES</a>

                                                <a class="nav-link  {% if app.request.get("_route")  == "admin_allergy_index" %} active {% endif %}  link-light"
                                                   aria-current="page" href=" {{ path('admin_allergy_index') }}">ALLERGIES</a>

                                                <a class="nav-link  {% if app.request.get("_route")  == "admin_diet_index" %} active {% endif %}  link-light"
                                                   aria-current="page" href=" {{ path('admin_diet_index') }}">REGIMES</a>

                                                <a class="nav-link  {% if app.request.get("_route")  == "admin_shop_index" %} active {% endif %}  link-light"
                                                   aria-current="page" href=" {{ path('admin_shop_index') }}">MAGASINS</a>

                                                <a class="nav-link  {% if app.request.get("_route")  == "admin_step_index" %} active {% endif %}  link-light"
                                                   aria-current="page" href=" {{ path('admin_step_index') }}">ETAPES</a>

                                        </div>

                                </div>
                        </div>
                </nav>

        {% else %}

                <nav class="navbar navbar-expand-md navbar-dark bg-dark">

                        <div class="container-fluid">

                                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

                                        <div class="navbar-nav m-auto">

                                                <img src="{{ asset('build/images/r-a-c.svg') }}" class="index-bg-img"
                                                     alt="">

                                                <a class="nav-link {% if app.request.get("_route")  == "home" %} active {% endif %} link-light"
                                                   aria-current="page" href="{{ path('home') }}">ACCUEIL</a>

                                                <a class="nav-link  {% if app.request.get("_route")  == "/" %} active {% endif %}  link-light"
                                                   aria-current="page" href="{{ path('recettes') }}">RECETTES</a>

                                                <a class="nav-link  {% if app.request.get("_route")  == "ingredients" %} active {% endif %}  link-light"
                                                   aria-current="page" href="{{ path('ingredients') }}">INGREDIENTS</a>

                                                {% if app.user %}

                                                        <a class="nav-link  {% if app.request.get("_route")  == "profil" %} active {% endif %}  link-light"
                                                           aria-current="page" href="{{ path('profil') }}">PROFIL</a>

                                                {% else %}

                                                        <a class="nav-link  {% if app.request.get("_route")  == "app_login" %} active {% endif %}  link-light"
                                                           aria-current="page"
                                                           href="{{ path('app_login') }}">CONNEXION</a>

                                                {% endif %}

                                                <a class="nav-link  {% if app.request.get("_route")  == "contact" %} active {% endif %}  link-light"
                                                   aria-current="page" href="{{ path('contact') }}">CONTACT</a>

                                                {% if is_granted("ROLE_ADMIN") %}
                                                        <a class="nav-link  {% if app.request.get("_route")  == "admin_recipe_index" %} active {% endif %}  link-light"
                                                           aria-current="page" href="{{ path('admin_recipe_index') }}">ADMIN</a>
                                                {% endif %}

                                        </div>

                                </div>
                        </div>
                </nav>

        {% endif %}

{% endblock %}