{% extends 'base.html.twig' %}

{% block title %}Recette choisies{% endblock %}

{% block main %}

    <section class="found-recipe">
        {% if recipes|length > 0 and sortedByIngredients %}

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="text-recipe-show-title">Voici les recettes que l'on vous a trouvées</h2>
                </div>
                {% for recipe in recipes %}

                    <div class="col-12 col-lg-6 col-xl-4 m-auto">
                        <a class="recipe-id" href="{{ path('recette', { 'id' : recipe.id }) }}">
                        <div class="found-recipe-card" style="background-image: url('{{ asset(recipe.pathImage) }}')">
                            <div class="found-recipe-infos">
                                <p><i class="fa-solid fa-clock"></i> {{ recipe.duration }}</p>
                                <p><i class="fa-solid fa-utensils"></i> {{ recipe.difficulty }}</p>
                                <p><i class="fa-solid fa-euro-sign"></i> {{ recipe.price }}</p>
                            </div>
                            <div class="found-recipe-text">
                                <p>{{ recipe.name }}</p>
                            </div>
                        </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="wrapper-second-title">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="text-recipe-show-title">Si vous n'aimez pas les recettes que nous avons sélectionnées
                            pour
                            vous,</h2>
                        <h3 class="text-recipe-show-title">nous en avons sélectionné d'autres ! </h3>
                    </div>
                </div>

                <div class="row">

                    {% for otherRecipe in otherRecipes %}
                        <div class="col-12 col-lg-6 col-xl-4 m-auto">
                            <div class="found-recipe-card"
                                 style="background-image: url('{{ asset(otherRecipe.pathImage) }}')">
                                <div class="found-recipe-infos">
                                    <p><i class="fa-solid fa-clock"></i> {{ otherRecipe.duration }}</p>
                                    <p><i class="fa-solid fa-utensils"></i> {{ otherRecipe.difficulty }}</p>
                                    <p><i class="fa-solid fa-euro-sign"></i> {{ otherRecipe.price }}</p>
                                </div>
                                <div class="found-recipe-text">
                                    <p>{{ otherRecipe.name }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% else %}
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="text-recipe-show-title">Oups! Nous n'avons pas trouvé de recettes :(</h2>
                            <h3>Mais ne vous inquiétez pas ! Nous en avons beaucoup d'autres de délicieuses à vous proposer !</h3>
                        </div>
                        {% for recipe in recipes %}
                            <div class="col-12 col-lg-6 col-xl-4 m-auto">
                                <div class="found-recipe-card"
                                     style="background-image: url('{{ asset(recipe.pathImage) }}')">
                                    <div class="found-recipe-infos">
                                        <p><i class="fa-solid fa-clock"></i> {{ recipe.duration }}</p>
                                        <p><i class="fa-solid fa-utensils"></i> {{ recipe.difficulty }}</p>
                                        <p><i class="fa-solid fa-euro-sign"></i> {{ recipe.price }}</p>
                                    </div>
                                    <div class="found-recipe-text">
                                        <p>{{ recipe.name }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </section>
    
    <div class="wave-gray">
        <svg viewBox="0 0 1903 88" xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink">
            <path fill="rgb(255,232,219)" d="M 0 15 C 227 15 227 60 454 60 L 454 60 L 454 0 L 0 0 Z"
                  stroke-width="0">
            </path>
            <path fill="rgb(255,232,219)" d="M 453 60 C 746 60 746 12 1039 12 L 1039 12 L 1039 0 L 453 0 Z"
                  stroke-width="0">
            </path>
            <path fill="rgb(255,232,219)"
                  d="M 1038 12 C 1325.5 12 1325.5 50 1613 50 L 1613 50 L 1613 0 L 1038 0 Z"
                  stroke-width="0"></path>
            <path fill="rgb(255,232,219)"
                  d="M 1612 50 C 1757.5 50 1757.5 12 1903 12 L 1903 12 L 1903 0 L 1612 0 Z"
                  stroke-width="0"></path>
        </svg>
    </div>
{% endblock %}
