{% extends 'base.html.twig' %}
{% block title %}Liste des recettes{% endblock %}

{% block main %}

        <section class="recipe-list">

                <div class="title-container container my-5">
                        <div class="row">
                                <div class="col-12">
                                        <h2>Voici la liste de toutes nos recettes !
                                        Envie d'une recette en particulier ? C'est par <a href="{{ path('search') }}">ICI</a></h2>
                                </div>
                        </div>
                </div>

                <div class="card-list-container container">
                        <div class="row">
                                {% for recipe in recipes %}
                                        <div class="col-12 col-md-6 col-lg-3">
                                                <div class="recipe-card-list">
                                                        <div class="img-card">
                                                                <img src="{{ recipe.pathImage }}"
                                                                     alt="Card image cap">
                                                        </div>
                                                        <div class="recipe-infos">
                                                                <h5 class="card-title m-auto">{{ recipe.name }}</h5>
                                                                <br>
                                                                <p>
                                                                        <i class="fa-solid fa-clock"></i> {{ recipe.duration }}
                                                                        <i class="fa-solid fa-utensils"></i> {{ recipe.difficulty }}
                                                                        <i class="fa-solid fa-euro-sign"></i> {{ recipe.price }}
                                                                </p>
                                                        </div>
                                                        <div class="card-link">
                                                                <a class="btn btn-dark"
                                                                   href="{{ path('recette', { 'id' : recipe.id }) }}">Voir
                                                                        la
                                                                        recette</a>
                                                        </div>
                                                </div>
                                        </div>
                                {% endfor %}
                        </div>
                </div>
        </section>

        <div class="wave-gray">
                <svg viewBox="0 0 1903 88" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path fill="rgb(255,232,219)" d="M 0 15 C 227 15 227 60 454 60 L 454 60 L 454 0 L 0 0 Z"
                              stroke-width="0">
                        </path>
                        <path fill="rgb(255,232,219)" d="M 453 60 C 746 60 746 12 1039 12 L 1039 12 L 1039 0 L 453 0 Z"
                              stroke-width="0">
                        </path>
                        <path fill="rgb(255,232,219)"
                              d="M 1038 12 C 1325.5 12 1325.5 50 1613 50 L 1613 50 L 1613 0 L 1038 0 Z"
                              stroke-width="0"></path>
                        <path fill="rgb(255,232,219)"
                              d="M 1612 50 C 1757.5 50 1757.5 12 1903 12 L 1903 12 L 1903 0 L 1612 0 Z"
                              stroke-width="0"></path>
                </svg>
        </div>

{% endblock %}


