{% extends 'base.html.twig' %}

{% block main %}
        <section class="recipe-details">
                <div class="container">
                        <div class="row">
                                <div class="col-12">
                                        <h2 class="text-recipe-show-title">{{ recipe.name }}</h2>
                                </div>

                                <div class="col-12 col-lg-6 col-xl-4 m-auto">
                                        <div class="found-recipe-card"
                                             style="background-image: url('{{ asset(recipe.pathImage) }}')">
                                        </div>
                                        <div class="recipe-show-infos ">
                                                <p><i class="fa-solid fa-clock"></i> {{ recipe.duration }}</p>
                                                <p><i class="fa-solid fa-utensils"></i> {{ recipe.difficulty }}</p>
                                                <p><i class="fa-solid fa-euro-sign"></i> {{ recipe.price }}</p>
                                        </div>
                                </div>
                        </div>
                        <div class="row">
                                <div class="col-12 col-lg-8 col-xl-6 m-auto">
                                        <div class="recipe-show-preparation">
                                                <h3 class="desc-ingr">Ingredients : </h3>
                                                <div class="ingredients">
                                                        {% for ingredient in recipe.ingredients %}
                                                                <div class="recipe-show-preparation-ingredients mb-2">
                                                                        <p>{{ ingredient.name }}</p>
                                                                </div>
                                                        {% endfor %}
                                                </div>
                                                <h3 class="desc-prep">Preparation :</h3>
                                                {% for step in recipe.steps %}
                                                        <div class="recipe-show-preparation-steps">
                                                                <h5> Etapes {{ step.stepOrder }}</h5>
                                                                <p>{{ step.text }}</p>
                                                        </div>
                                                {% endfor %}
                                        </div>
                                </div>
                        </div>
                </div>
        </section>

        <div class="wave-gray">
                <svg viewBox="0 0 1903 88" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path fill="rgb(255,232,219)" d="M 0 15 C 227 15 227 60 454 60 L 454 60 L 454 0 L 0 0 Z"
                              stroke-width="0">
                        </path>
                        <path fill="rgb(255,232,219)" d="M 453 60 C 746 60 746 12 1039 12 L 1039 12 L 1039 0 L 453 0 Z"
                              stroke-width="0">
                        </path>
                        <path fill="rgb(255,232,219)"
                              d="M 1038 12 C 1325.5 12 1325.5 50 1613 50 L 1613 50 L 1613 0 L 1038 0 Z"
                              stroke-width="0"></path>
                        <path fill="rgb(255,232,219)"
                              d="M 1612 50 C 1757.5 50 1757.5 12 1903 12 L 1903 12 L 1903 0 L 1612 0 Z"
                              stroke-width="0"></path>
                </svg>
        </div>
{% endblock %}


