<form method="post" action="{{ path('admin_allergy_delete', {'id': allergy.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ allergy.id) }}">
    <button class="btn btn-dark">Supprimer</button>
</form>
