{% extends 'base.html.twig' %}

{% block title %}Ingredients{% endblock %}

{% block main %}

        <section class="ingredients">

                <div class="container-fluid main-container-ingredients">
                        <div class="row">
                                <div class="category-intro-title">
                                        <h1>Nos Categories</h1>
                                </div>
                        </div>

                        <div class="row">
                                <div class="col-12 m-auto">
                                        <div class="button-confirm-recipes">
                                                <button class="btn btn-success custom-button-ingredients" data-confirm>
                                                        <p>Confirmer</p>
                                                </button>
                                        </div>
                                </div>
                        </div>

                        <div class="row">
                                {% for category in categories %}
                                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12">

                                                <div class="ingredientBackCard" >
                                                                <img class="bgImageCategory" src="{{ asset(category.pathImage) }}" alt="">

                                                        <div class="category-title-back-card">
                                                                <h3>{% set trad = "entity.category.name." ~ category.name ~ ".label" %} {{ trad|trans }}</h3>
                                                        </div>

                                                        <div class="chosedWrapper">
                                                                <div class="productChosed">

                                                                        {% for ingredient in category.ingredients %}
                                                                                <input type="checkbox"
                                                                                       data-ingredient-id="{{ ingredient.id }}"
                                                                                       name="ingredient{{ ingredient.id }}"
                                                                                       id="ingredient{{ ingredient.id }}"
                                                                                       value="{{ ingredient.id }}"
                                                                                >
                                                                                <label style="color: white" for="ingredient{{ ingredient.id }}">{{ ingredient.name }}</label>
                                                                        {% endfor %}

                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                {% endfor %}
                        </div>

                </div>
        </section>

        <div class="wave-gray">
                <svg viewBox="0 0 1903 88" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path fill="rgb(255,232,219)" d="M 0 15 C 227 15 227 60 454 60 L 454 60 L 454 0 L 0 0 Z"
                              stroke-width="0">
                        </path>
                        <path fill="rgb(255,232,219)" d="M 453 60 C 746 60 746 12 1039 12 L 1039 12 L 1039 0 L 453 0 Z"
                              stroke-width="0">
                        </path>
                        <path fill="rgb(255,232,219)"
                              d="M 1038 12 C 1325.5 12 1325.5 50 1613 50 L 1613 50 L 1613 0 L 1038 0 Z"
                              stroke-width="0"></path>
                        <path fill="rgb(255,232,219)"
                              d="M 1612 50 C 1757.5 50 1757.5 12 1903 12 L 1903 12 L 1903 0 L 1612 0 Z"
                              stroke-width="0"></path>
                </svg>
        </div>

{% endblock %}
