.explications {
	background-color: #146666bd;
	padding: 100px;

	img {
		display: flex;
		align-items: center;
		height: 100%;
		object-fit: cover;
		min-width: 100%;
		border-radius: 10%;
		margin-top: 20px;
	}

	.txt {
		text-align: center;
		margin-top: 5vh;

		h1 {
			color: rgb(0, 99, 0);
		}

		.btn-test2 {
			margin: auto;
			padding: 10px;
			border-radius: 10px;
			background-color: $beige;
			color: black;
			border: 2px solid black;
			font-size: large;
			text-decoration: none;

			&:hover {
				color: black;
				border: 1px solid black;
			}

			&:active {
				transform: translate(5px);
			}
		}
	}
}