.presentation {
	background-color: $beige;
	padding: 50px;


	img {
		display: flex;
		align-items: center;
		height: 100%;
		object-fit: cover;
		width: 100%;
	}

	.txt {
		margin-top: 5vh;
		text-align: center;

		h1 {
			color: $orange;
		}

		.btn-test {
			margin: auto;
			padding: 10px;
			border-radius: 10px;
			background-color: #146666bd;
			color: white;
			border: 2px solid black;
			font-size: large;
			text-decoration: none;

			&:hover {
				border: 1px solid black;
			}

			&:active {
				transform: translate(5px);
			}
		}
	}
}