.connexion-form {
	background-color: $beige;
	padding: 50px;
	flex-grow: 1;

	.form {
		margin-top: 100px;

		h1 {
			text-decoration: underline;
		}
		input {
			margin: 10px;
		}

		button {
			background-color: black;
			border: 1px solid white;

			&:hover {
				background-color: white;
				color: black;
				border: 1px solid black;
			}
		}

		p {
			margin-top: 20px;

			a {
				color: $orange;
			}
		}
	}

}