.formContact {
    background-color: $beige;
    padding: 50px;
    flex-grow: 1;

    button {
        background-color: black;
        color: white;
        border-radius: 10px;
        border: 1px solid white;
        width: 10%;
        margin: auto;
        padding: 5px;

        &:hover {
            background-color: white;
            color: black;
            border: 1px solid black;
        }
    }
}
