{% extends 'base.html.twig' %}

{% block title %}Index recette{% endblock %}

{% block main %}

        <div class="admin-container">
                <div class="container">
                        <div class="row">
                                <div class="col-12">
                                        <h1>Index des recettes</h1>
                                </div>
                        </div>
                        <div class="row">
                                <div class="col-12">
                                        <a href="{{ path('admin_recipe_new') }}">Créer nouvelle recette</a>
                                </div>
                        </div>
                        <div class="row">
                                <div class="col-12">
                                        <table class="table">
                                                <thead>
                                                <tr>
                                                        <th>Id</th>
                                                        <th>Nom</th>
                                                        <th>Durée</th>
                                                        <th>Difficulté</th>
                                                        <th>Prix</th>
                                                        <th>Lien vers l'image</th>
                                                        <th>actions</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for recipe in recipes %}
                                                        <tr>
                                                                <td>{{ recipe.id }}</td>
                                                                <td>{{ recipe.name }}</td>
                                                                <td>{{ recipe.duration }}</td>
                                                                <td>{{ recipe.difficulty }}</td>
                                                                <td>{{ recipe.price }}</td>
                                                                <td>{{ recipe.pathImage }}</td>
                                                                <td>
                                                                        <a href="{{ path('admin_recipe_show', {'id': recipe.id}) }}"><i class="fa-solid fa-eye"></i></a>
                                                                        <a href="{{ path('admin_recipe_edit', {'id': recipe.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                                                                </td>
                                                        </tr>
                                                {% else %}
                                                        <tr>
                                                                <td colspan="7">no records found</td>
                                                        </tr>
                                                {% endfor %}
                                                </tbody>
                                        </table>
                                </div>
                        </div>
                </div>
        </div>

        {% block footer %}
        {% endblock %}

{% endblock %}
