{% extends 'base.html.twig' %}

{% block title %}Recette{% endblock %}

{% block main %}

        <div class="admin-container">
                <div class="container">
                        <div class="row">
                                <div class="col-12">
                                        <h1>Recette</h1>
                                </div>
                        </div>
                        <div class="row">
                                <div class="col-12">
                                        <a href="{{ path('admin_recipe_index') }}">Retour à la liste</a>
                                </div>
                        </div>
                        <div class="row">
                                <div class="col-12">
                                        <a href="{{ path('admin_recipe_edit', {'id': recipe.id}) }}">Editer</a>
                                </div>
                        </div>
                        <div class="row">
                                <div class="col-12">
                                        <table class="table">
                                                <tbody>
                                                <tr>
                                                        <th>Id</th>
                                                        <td>{{ recipe.id }}</td>
                                                </tr>
                                                <tr>
                                                        <th>Name</th>
                                                        <td>{{ recipe.name }}</td>
                                                </tr>
                                                <tr>
                                                        <th>Duration</th>
                                                        <td>{{ recipe.duration }}</td>
                                                </tr>
                                                <tr>
                                                        <th>Difficulty</th>
                                                        <td>{{ recipe.difficulty }}</td>
                                                </tr>
                                                <tr>
                                                        <th>Price</th>
                                                        <td>{{ recipe.price }}</td>
                                                </tr>
                                                <tr>
                                                        <th>PathImage</th>
                                                        <td>{{ recipe.pathImage }}</td>
                                                </tr>
                                                </tbody>
                                        </table>
                                </div>
                        </div>
                        <div class="row">
                                <div class="col-12">
                                        {{ include('admin/recipe/_delete_form.html.twig') }}
                                </div>
                        </div>
                </div>
        </div>

        {% block footer %}
        {% endblock %}

{% endblock %}
