{% extends 'base.html.twig' %}

{% block title %}Index des ingrédients{% endblock %}

{% block main %}

        <div class="admin-container">
                <div class="container">
                        <div class="row">
                                <div class="col-12">
                                        <h1>Index des ingrédients</h1>
                                </div>
                        </div>
                        <div class="row">
                                <div class="col-12">
                                        <a href="{{ path('admin_ingredient_new') }}">Créer nouvel ingrédient</a>
                                </div>
                        </div>
                        <div class="row">
                                <div class="col-12">
                                        <table class="table">
                                                <thead>
                                                <tr>
                                                        <th>Id</th>
                                                        <th>Nom</th>
                                                        <th>actions</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for ingredient in ingredients %}
                                                        <tr>
                                                                <td>{{ ingredient.id }}</td>
                                                                <td>{{ ingredient.name }}</td>
                                                                <td>
                                                                        <a href="{{ path('admin_ingredient_show', {'id': ingredient.id}) }}"><i
                                                                                            class="fa-solid fa-eye"></i></a>
                                                                        <a href="{{ path('admin_ingredient_edit', {'id': ingredient.id}) }}"><i
                                                                                            class="fa-solid fa-pen-to-square"></i></a>
                                                                </td>
                                                        </tr>
                                                {% else %}
                                                        <tr>
                                                                <td colspan="3">no records found</td>
                                                        </tr>
                                                {% endfor %}
                                                </tbody>
                                        </table>
                                </div>
                        </div>

                </div>
        </div>

        {% block footer %}
        {% endblock %}
{% endblock %}
