{% extends 'base.html.twig' %}

{% block title %}Nouvel ingrédient{% endblock %}

{% block main %}

        <div class="admin-container">
                <div class="container">
                        <div class="row">
                                <div class="col-12">
                                        <h1>Créer un nouvel ingrédient</h1>
                                </div>
                        </div>
                        <div class="row">
                                <div class="col-12">
                                        <a href="{{ path('admin_ingredient_index') }}">Retour à la liste</a>
                                </div>
                        </div>
                        <div class="row">
                                <div class="col-12">
                                        {{ include('admin/ingredient/_form.html.twig') }}
                                </div>
                        </div>
                </div>
        </div>

        {% block footer %}
        {% endblock %}
{% endblock %}
