.navbar {

	.navbar-nav {
		align-items: center;

		img {
			width: 10%;
			display: flex;
			justify-content: flex-end;
			margin: 0 20px;
		}

		.btn {
			margin: 10px;
			padding: 6px;
			border-radius: 10px;
			background-color: $beige;
			color: black;
			border: 2px solid $orange;
			font-size: large;


			&:hover {
				border: 2px solid $vert;
			}

			&:active {
				transform: translate(5px);
			}
		}

		a {
			display: flex;
			align-items: center;
			margin: 5px;

			&:hover {
				transform: scale(1.1);
				font-weight: bold;
				color: white;
			}

			&.active {
				border-bottom: 1px solid white;
				border-top: 1px solid white;
				transform: scale(1.1);
			}
		}
	}

}