.footer {
	background-color: black;
	color: white;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	a {
		color: white;
	}

	.socials {
		margin-bottom: 25px;

		i {
			color: white;
			font-size: 50px;
			margin: 0 16px;
		}
	}
}
