.ment-legal-title {
	padding: 50px;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color:$vert ;
	h1{
		font-weight: 700;
		color: $blanc;
	}
	h3 {
		color: $blanc;
	}

}

.mention-legales {
	background-color: $beige;
	text-align:justify ;
	padding: 50px;
	h3 {
		margin-left: 25px;
		color: $orange ;
	}
	a {
		color: $orange;
	}
	li::marker{
		color: $orange;
	}
}