.wave-beige {
	background-color: #518e8e;
}

.wave-green {
	background-color: #efefef;
}

.wave-gray {
	background-color: black;
}

.wave-beige-on-white {
	background-color: #F2EFEB;
}
.wave-mentions-legales {
	background-color: $beige;
}

.wave-vert-sur-beige{
	background-color: rgb(82, 167, 88);
}

