{% extends 'base.html.twig' %}

{% block title %}Régime{% endblock %}

{% block main %}

        <div class="admin-container">
                <div class="container">
                        <div class="row">
                                <div class="col-12">
                                        <h1>Régime</h1>
                                </div>
                        </div>
                        <div class="row">
                                <div class="col-12">
                                        <a href="{{ path('admin_diet_index') }}">Retour à la liste</a>
                                </div>
                        </div>
                        <div class="row">
                                <div class="col-12">
                                        <table class="table">
                                                <tbody>
                                                <tr>
                                                        <th>Id</th>
                                                        <td>{{ diet.id }}</td>
                                                </tr>
                                                <tr>
                                                        <th>Nom</th>
                                                        <td>{{ diet.name }}</td>
                                                </tr>
                                                </tbody>
                                        </table>
                                </div>
                        </div>
                        <div class="row">
                                <div class="col-12 my-2">
                                        <a href="{{ path('admin_diet_edit', {'id': diet.id}) }}">Editer</a>
                                </div>
                        </div>
                        <div class="row">
                                <div class="col-12">
                                        {{ include('admin/diet/_delete_form.html.twig') }}
                                </div>
                        </div>
                </div>
        </div>

        {% block footer %}
        {% endblock %}
{% endblock %}
