.presentation-ingredients {
        background-color: $beige;
        padding: 50px;


        img {
                display: flex;
                align-items: center;
                height: 100%;
                object-fit: cover;
                width: 100%;
        }

        .txt {
                margin-top: 5vh;
                text-align: center;


                h1 {
                        color: $orange;
                }

                button {
                        margin: auto;
                        padding: 10px;
                        border-radius: 20px;
                        background-color: $orange;
                        color: white;
                        border: 4px solid black;

                        &:hover {
                                background-color: $vert;
                        }

                        &:active {
                                transform: translate(5px);
                                background-color: $vert;
                        }
                }
        }
}