@import 'variable';
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import '~bootstrap';
@import "~leaflet";
@import "./bases/navbar";
@import "./bases/footer";
@import "./bases/waves";
@import "./bases/homePage/explication";
@import "./bases/homePage/newRecipe";
@import "./bases/homePage/presentation";
@import "./bases/recipes/found_recipes";
@import "./bases/recipeShowDetails/recipeShowDetails";
@import "bases/components/ingredientsCard/ingredientCard";
@import "bases/components/ingredientsCard/ingredientsChosedCardBack";
@import "bases/ingredientsPage/presentation-ingredients";
@import "bases/components/geographic_map/geographic_map.scss";
@import "./bases/legal_mentions";
@import "./bases/components/forms/connexion";
@import "./bases/components/forms/contact";
@import "bases/components/forms/admin/index";
@import "bases/recipes/recipe_detail";
@import "bases/recipes/recipe_list";
@import "bases/profil/profil";


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

img {
	max-width: 100%;
}
