{% extends 'base.html.twig' %}
{% block title %}Ready anc Cook{% endblock %}
{% block main %}
      <div id="map" data-shop="{{ json }}"></div>
      
      {{ form_start(form, {'attr':{'class': 'formContact'}}) }}
      <div class="container d-flex">
            <div class="row">
                  <div class="col-4">
                        {{ form_row(form.nom) }}
                  </div>
                  
                  <div class="col-4">
                        {{ form_row(form.prenom) }}
                  </div>
                  <div class="col-4">
                        {{ form_row(form.email) }}
                  </div>
                  
                  {{ form_row(form.sujet) }}
                  {{ form_row(form.message) }}
                  <button type="submit">Envoyer</button>
            </div>
      </div>
      
      {{ form_end(form) }}
      <div class="wave-gray">
            <svg viewBox="0 0 1903 88" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <path fill="rgb(255,232,219)" d="M 0 15 C 227 15 227 60 454 60 L 454 60 L 454 0 L 0 0 Z"
                        stroke-width="0">
                  </path>
                  <path fill="rgb(255,232,219)" d="M 453 60 C 746 60 746 12 1039 12 L 1039 12 L 1039 0 L 453 0 Z"
                        stroke-width="0">
                  </path>
                  <path fill="rgb(255,232,219)"
                        d="M 1038 12 C 1325.5 12 1325.5 50 1613 50 L 1613 50 L 1613 0 L 1038 0 Z"
                        stroke-width="0"></path>
                  <path fill="rgb(255,232,219)"
                        d="M 1612 50 C 1757.5 50 1757.5 12 1903 12 L 1903 12 L 1903 0 L 1612 0 Z"
                        stroke-width="0"></path>
            </svg>
      </div>
{% endblock %}