.profil {
        background-color: $beige;

        #user_profile_allergies, #user_profile_diets, #user_profile_shops, #user_profile_recipes {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                .form-check {
                        display: flex;
                        justify-content: center;
                        margin-bottom: 1rem;

                        input {
                                display: none;
                        }

                        label {
                                width: 200px;
                                padding: 8px;
                                text-align: center;
                                font-weight: bolder;
                                border: none;
                                border-radius: 10px;
                                text-transform: uppercase;
                                background-color: #e7e7e7;
                                transition: all 0.3s;
                                color: black;

                                &:hover {
                                        cursor: pointer;
                                        background-color: #016424;
                                        color: white;
                                }
                        }

                        input:checked + label {
                                background-color: #016424;
                                color: white;
                        }
                }

                .profil-text {
                        border-right: 1px solid black;
                }
        }

        a, a:active, a:hover {
                color: $orange;
        }

        h3 {
                color: $green;
        }

}