<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="/node_modules/@fortawesome/fontawesome-free/css/all.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
              integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
              crossorigin="anonymous" referrerpolicy="no-referrer"/>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

        {% block stylesheets %}
                {{ encore_entry_link_tags('styles') }}
        {% endblock %}


</head>

<body>

{% block body %}

        {% block nav %}
                {% include 'partials/navbar.html.twig' %}
        {% endblock %}

        {% block main %}
        {% endblock %}

        {% block footer %}
                {% include 'partials/footer.html.twig' %}
        {% endblock %}

        {% block javascripts %}
                {{ encore_entry_script_tags('scripts') }}
        {% endblock %}

{% endblock %}
</body>

</html>
