.admin-container {
        background-color: $beige;
        min-height: 100vh;

        a {
                margin: 5px 0;
        }
}

#step_recipes, #recipe_ingredients, #allergy_ingredients, #diet_ingredients {
           display: flex;
           flex-wrap: wrap;
   }

.form-check {
        width: 20%;
        margin: 5px;
}