.ingredients {
        background-color: $beige;

        .main-container-ingredients {
                gap: 2.5rem;
                margin: auto;

                .category-intro-title {
                        min-height: 100px;
                        margin: 50px auto 20px auto;

                        h1 {
                                color: $vert;
                                text-align: center;
                        }
                }

                .button-confirm-recipes {
                        display: flex;
                        justify-content: center;

                        .custom-button-ingredients {
                                padding: 10px;
                                width: 200px;
                                height: 80px;
                                margin-bottom: 50px;
                                background-color: $vert;

                                &:hover {
                                        background-color: #198754;
                                }

                                p {
                                        font-size: 35px;
                                }
                        }
                }


        }

}

