.ingredients {
        background-color: $beige;

        .ingredientBackCard {
                margin: 10px auto;
                position: relative;
                border-radius: 30px;
                text-align: center;
                min-height: 480px;
                max-width: 320px;
                max-height: 480px;
                display: flex;
                flex-direction: column;

                .bgImageCategory {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        object-fit: cover;
                        border: 2px solid white;
                        border-radius: 20px;
                        top: 0;
                        left: 0;
                }

                .category-title-back-card {
                        width: 80%;
                        background-color: rgba(0, 0, 0, 0.6);
                        border-radius: 20px;
                        filter: blur(0);
                        //position: relative;
                        //top: 10px;
                        margin: 10px auto;

                        h3 {
                                color: rgb(255, 255, 255);
                                filter: blur(0);
                                -webkit-text-stroke: 1px #e07043;
                        }
                }

                .bg-img-card {
                        width: 100%;
                        height: 100%;
                        border-radius: 20px;
                        //position: absolute;


                }

                .chosedWrapper {
                        background-color: rgba(0, 0, 0, 0.6);
                        border: 2px solid white;
                        border-radius: 20px;
                        margin: 20px auto;
                        width: 90%;
                        height: 80%;
                        filter: blur(0);
                        flex-grow: 1;
                        overflow: auto;

                        &::-webkit-scrollbar {
                                width: 15px;
                                margin-right: 3px;
                                height: 20px;
                        }

                        &::-webkit-scrollbar-button {
                                display: none;
                        }

                        &::-webkit-scrollbar-thumb {
                                background: $vert;
                                border-radius: 20px;
                                //width: 10px;
                                background-clip: padding-box;
                                border: 5px solid rgba(0, 0, 0, 0);

                                &:hover {
                                        //transition: all 0.3s;
                                        background: #278c27;
                                        //width: 13px;
                                        border: 20px solid rgba(0, 0, 0, 0);
                                }

                        }

                        &::-webkit-scrollbar-track-piece:end {
                                background: transparent;
                                margin-bottom: 130px;
                        }

                        &::-webkit-scrollbar-track-piece:start {
                                background: transparent;
                                margin-top: 130px;
                        }

                        .productChosed {
                                display: flex;
                                flex-wrap: wrap;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                height: 100%;


                                input {
                                        display: none;
                                }

                                label {
                                        max-width: 200px;
                                        margin: 2px auto;
                                        padding: 8px;
                                        text-align: center;
                                        font-weight: bolder;
                                        border: none;
                                        border-radius: 10px;
                                        text-transform: uppercase;
                                        transition: all 0.3s;
                                        color: white;
                                        min-width: 80%;

                                        &:hover {
                                                cursor: pointer;
                                                background-color: $green;
                                                color: white;
                                        }
                                }

                                input:checked + label {
                                        background-color: $green;
                                        color: white;
                                }

                                .containerChosed {

                                        label {
                                                color: white;
                                                margin-left: 2px;
                                        }
                                }
                        }

                }
        }
}



