<form method="post" action="{{ path('admin_step_delete', {'id': step.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ step.id) }}">
    <button class="btn btn-dark">Supprimer</button>
</form>
