{% extends 'base.html.twig' %}

{% block title %}Edition des étapes de recette{% endblock %}

{% block main %}

        <div class="admin-container">
                <div class="container">
                        <div class="row">
                                <div class="col-12">
                                        <h1>Editer une étape de recette</h1>
                                </div>
                        </div>
                        <div class="row">
                                <div class="col-12">
                                        <a href="{{ path('admin_step_index') }}">Retour à la liste</a>
                                </div>
                        </div>
                        <div class="row">
                                <div class="col-12 my-2">
                                        {{ include('admin/step/_form.html.twig', {'button_label': 'Editer'}) }}
                                </div>
                        </div>
                        <div class="row">
                                <div class="col-12">
                                        {{ include('admin/step/_delete_form.html.twig') }}
                                </div>
                        </div>
                </div>
        </div>

        {% block footer %}
        {% endblock %}
{% endblock %}
