{% extends 'base.html.twig' %}

{% block title %}Index des étapes de recette{% endblock %}

{% block main %}

        <div class="admin-container">
                <div class="container">
                        <div class="row">
                                <div class="col-12">
                                        <h1>Index des étapes de recette</h1>
                                </div>
                        </div>
                        <div class="row">
                                <div class="col-12">
                                        <a href="{{ path('admin_step_new') }}">Créer une nouvelle étape de recette</a>
                                </div>
                        </div>
                        <div class="row">
                                <div class="col-12">
                                        <table class="table">
                                                <thead>
                                                <tr>
                                                        <th>Id</th>
                                                        <th>Description</th>
                                                        <th>Ordre de l'étape</th>
                                                        <th>actions</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for step in steps %}
                                                        <tr>
                                                                <td>{{ step.id }}</td>
                                                                <td>{{ step.text }}</td>
                                                                <td>{{ step.stepOrder }}</td>
                                                                <td>
                                                                        <a href="{{ path('admin_step_show', {'id': step.id}) }}"><i class="fa-solid fa-eye"></i></a>
                                                                        <a href="{{ path('admin_step_edit', {'id': step.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                                                                </td>
                                                        </tr>
                                                {% else %}
                                                        <tr>
                                                                <td colspan="5">no records found</td>
                                                        </tr>
                                                {% endfor %}
                                                </tbody>
                                        </table>
                                </div>
                        </div>
                </div>
        </div>

        {% block footer %}
        {% endblock %}
{% endblock %}
