{% extends 'base.html.twig' %}

{% block title %}Etape de recette{% endblock %}

{% block main %}

        <div class="admin-container">
                <div class="container">
                        <div class="row">
                                <div class="col-12">
                                        <h1>Etape de recette</h1>
                                </div>
                        </div>
                        <div class="row">
                                <div class="col-12">
                                        <a href="{{ path('admin_step_index') }}">Retour à la liste</a>
                                </div>
                        </div>
                        <div class="row">
                                <div class="col-12 my-2">
                                        <a href="{{ path('admin_step_edit', {'id': step.id}) }}">Editer</a>
                                </div>
                        </div>
                        <div class="row">
                                <div class="col-12">
                                        <table class="table">
                                                <tbody>
                                                <tr>
                                                        <th>Id</th>
                                                        <td>{{ step.id }}</td>
                                                </tr>

                                                <tr>
                                                        <th>Description</th>
                                                        <td>{{ step.text }}</td>
                                                </tr>
                                                <tr>
                                                        <th>Ordre de l'étape</th>
                                                        <td>{{ step.stepOrder }}</td>
                                                </tr>
                                                </tbody>
                                        </table>
                                </div>
                        </div>
                        <div class="row">
                                <div class="col-12">
                                        {{ include('admin/step/_delete_form.html.twig') }}
                                </div>
                        </div>
                </div>
        </div>

        {% block footer %}
        {% endblock %}
{% endblock %}
