{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}


{% block main %}

        <section class="profil flex-grow-1">
                <div class="container ">

                        <div class="row mt-4">
                                <div class="col-12">
                                        <h1>Mon Profil</h1>
                                        <p> Vous êtes connecté en tant que {{ app.user.nickName }}, <a
                                                            href="{{ path('app_logout') }}">Déconnexion</a></p>
                                </div>
                        </div>

                        <div class="row">
                                <div class="col-12">
                                        <div class="img" style="">
                                                <img src="{{  app.user.pathImage }}" alt="">
                                        </div>
                                </div>
                        </div>

                        {{ form_start(userForm) }}

                        <div class="row">
                                <div class="col-sm-12 col-md-6">
                                        <div class="profil-text">
                                                <div class="row">
                                                        <div class="col-12">
                                                                <h3>Infos personnelles</h3>
                                                        </div>
                                                </div>
                                                <div class="row">
                                                        <div class="col-12">
                                                                <div class="profile-info my-2">
                                                                        <p>Pseudo : {{ app.user.nickName }}</p>
                                                                        <p> {{ form_row(userForm.nickName) }}</p>
                                                                </div>
                                                        </div>
                                                </div>
                                                <div class="row">
                                                        <div class="col-12">
                                                                <div class="profile-info my-2">
                                                                        <p>Nom de compte : {{ app.user.accountName }}</p>
                                                                        <p>{{ form_row(userForm.accountName) }}</p>
                                                                </div>
                                                        </div>
                                                </div>
                                                <div class="row">
                                                        <div class="col-12">
                                                                <div class="profile-info my-2">
                                                                        <p>Email : {{ app.user.mail }}</p>
                                                                        <p>{{ form_row(userForm.mail) }}</p>
                                                                </div>
                                                        </div>
                                                </div>
                                                <div class="row">
                                                        <div class="col-12">
                                                                <div class="profile-info my-2">
                                                                        <p>Image du profil</p>
                                                                        <p>{{ form_row(userForm.pathImage) }}</p>
                                                                </div>
                                                        </div>
                                                </div>
                                                <div class="row">
                                                        <div class="col-12 my-2">
                                                                <div class="diets">
                                                                        <h3>Vos recettes favorites</h3>
                                                                        <p><a href="#">Cliquez ici</a> pour retrouver vos recettes favorites</p>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>

                                <div class="col-sm-12 col-md-6">
                                        <div class="profil-choices">
                                                <div class="row my-2">
                                                        <div class="col-12">
                                                                <div class="allergies">
                                                                        <h3>Vos allergies</h3>
                                                                        {{ form_row(userForm.allergies) }}
                                                                </div>
                                                        </div>
                                                </div>
                                                <div class="row">
                                                        <div class="col-12 my-2">
                                                                <div class="diets">
                                                                        <h3>Vos régimes</h3>
                                                                        {{ form_row(userForm.diets) }}
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>

                        <div class="row my-4">
                                <div class="col-12 d-flex justify-content-center">
                                        <button type="submit" class="btn btn-success">Valider les changements</button>
                                </div>
                        </div>

                        {{ form_end(userForm) }}
                </div>
        </section>


        <div class="wave-gray">
                <svg viewBox="0 0 1903 88" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path fill="rgb(255,232,219)" d="M 0 15 C 227 15 227 60 454 60 L 454 60 L 454 0 L 0 0 Z"
                              stroke-width="0">
                        </path>
                        <path fill="rgb(255,232,219)" d="M 453 60 C 746 60 746 12 1039 12 L 1039 12 L 1039 0 L 453 0 Z"
                              stroke-width="0">
                        </path>
                        <path fill="rgb(255,232,219)"
                              d="M 1038 12 C 1325.5 12 1325.5 50 1613 50 L 1613 50 L 1613 0 L 1038 0 Z"
                              stroke-width="0"></path>
                        <path fill="rgb(255,232,219)"
                              d="M 1612 50 C 1757.5 50 1757.5 12 1903 12 L 1903 12 L 1903 0 L 1612 0 Z"
                              stroke-width="0"></path>
                </svg>
        </div>

{% endblock %}