<form method="post" action="{{ path('admin_shop_delete', {'id': shop.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ shop.id) }}">
    <button class="btn btn-dark">Supprimer</button>
</form>
