{% extends 'base.html.twig' %}

{% block title %}Editer magasin{% endblock %}

{% block main %}

        <div class="admin-container">
                <div class="container">
                        <div class="row">
                                <div class="col-12">
                                        <h1>Editer un magasin</h1>
                                </div>
                        </div>
                        <div class="row">
                                <div class="col-12">
                                        <a href="{{ path('admin_shop_index') }}">Retour à la liste</a>
                                </div>
                        </div>
                        <div class="row">
                                <div class="col-12 my-2">
                                        {{ include('admin/shop/_form.html.twig', {'button_label': 'Editer'}) }}
                                </div>
                        </div>
                        <div class="row">
                                <div class="col-12">
                                        {{ include('admin/shop/_delete_form.html.twig') }}
                                </div>
                        </div>
                </div>
        </div>

        {% block footer %}
        {% endblock %}
{% endblock %}
