{% extends 'base.html.twig' %}

{% block title %}Index des magasins{% endblock %}

{% block main %}

        <div class="admin-container">
                <div class="container">
                        <div class="row">
                                <div class="col-12">
                                        <h1>Index des magasins</h1>
                                </div>
                        </div>
                        <div class="row">
                                <div class="col-12">
                                        <a href="{{ path('admin_shop_new') }}">Créer nouveau magasin</a>
                                </div>
                        </div>
                        <div class="row">
                                <div class="col-12">
                                        <table class="table">
                                                <thead>
                                                <tr>
                                                        <th>Id</th>
                                                        <th>Nom</th>
                                                        <th>Adresse</th>
                                                        <th>Latitude</th>
                                                        <th>Longitude</th>
                                                        <th>actions</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for shop in shops %}
                                                        <tr>
                                                                <td>{{ shop.id }}</td>
                                                                <td>{{ shop.name }}</td>
                                                                <td>{{ shop.address }}</td>
                                                                <td>{{ shop.latitude }}</td>
                                                                <td>{{ shop.longitude }}</td>
                                                                <td>
                                                                        <a href="{{ path('admin_shop_show', {'id': shop.id}) }}"><i
                                                                                            class="fa-solid fa-eye"></i></a>
                                                                        <a href="{{ path('admin_shop_edit', {'id': shop.id}) }}"><i
                                                                                            class="fa-solid fa-pen-to-square"></i></a>
                                                                </td>
                                                        </tr>
                                                {% else %}
                                                        <tr>
                                                                <td colspan="6">no records found</td>
                                                        </tr>
                                                {% endfor %}
                                                </tbody>
                                        </table>
                                </div>
                        </div>
                </div>
        </div>

        {% block footer %}
        {% endblock %}
{% endblock %}
