{% extends 'base.html.twig' %}

{% block title %}Magasin{% endblock %}

{% block body %}
        <div class="admin-container">
                <div class="container">
                        <div class="row">
                                <div class="col-12">
                                        <h1>Magasin</h1>
                                </div>
                        </div>
                        <div class="row">
                                <div class="col-12">
                                        <a href="{{ path('admin_shop_index') }}">Retour à la liste</a>
                                </div>
                        </div>
                        <div class="row">
                                <div class="col-12">
                                        <table class="table">
                                                <tbody>
                                                <tr>
                                                        <th>Id</th>
                                                        <td>{{ shop.id }}</td>
                                                </tr>
                                                <tr>
                                                        <th>Name</th>
                                                        <td>{{ shop.name }}</td>
                                                </tr>
                                                <tr>
                                                        <th>Address</th>
                                                        <td>{{ shop.address }}</td>
                                                </tr>
                                                <tr>
                                                        <th>Latitude</th>
                                                        <td>{{ shop.latitude }}</td>
                                                </tr>
                                                <tr>
                                                        <th>Longitude</th>
                                                        <td>{{ shop.longitude }}</td>
                                                </tr>
                                                </tbody>
                                        </table>
                                </div>
                        </div>
                        <div class="row">
                                <div class="col-12 my-2">
                                        <a href="{{ path('admin_shop_edit', {'id': shop.id}) }}">Editer</a>
                                </div>
                        </div>
                        <div class="row">
                                <div class="col-12">
                                        {{ include('admin/shop/_delete_form.html.twig') }}
                                </div>
                        </div>
                </div>
        </div>

        {% block footer %}
        {% endblock %}
{% endblock %}
